@model CaoDinhVu.Models.ProfileAddress
@{
    ViewBag.Title = "ProfileAddress";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
    <div class="container">
        <h2 class="title-page">My account</h2>
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <nav class="list-group">
                    <a class="list-group-item" href="~/account/ProfileMain"> Tổng quan  </a>
                    <a class="list-group-item active" href="~/account/ProfileAddress"> Địa chỉ </a>
                    <a class="list-group-item" href="~/account/ProfileOrder"> Đơn đặt hàng </a>
                    <a class="list-group-item" href="~/account/ProfileSetting"> Cài đặt </a>
                    <a class="list-group-item" href="~/dang-xuat"> Đăng Xuất </a>
                </nav>
            </aside> <!-- col.// -->
            <main class="col-md-9">


                <div class="row">
                    <div class="col-md-6">
                        <article class="box mb-4">
                            <h6>Tỉnh/thành phố: @Model.tinh</h6>
                            <h6>Huyện/Quận: @Model.huyen</h6>
                            <h6>Phường/Xã: @Model.phuong </h6>
                            <h6>chi tiết(số nhà, khu phố): @Model.chiTiet </h6>
                            @*<p>Building: Nestone <br> Floor: 22, Aprt: 12  </p>*@
                            <a href="#" class="btn btn-light disabled"> <i class="fa fa-check"></i> Mặc định</a> <a href="#" class="btn btn-light"> <i class="fa fa-pen"></i> </a>   <a href="#" class="btn btn-light">  </a>
                        </article>
                    </div>  <!-- col.// -->
                    
                </div> <!-- row.// -->

            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
